@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/PretendardVariable.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Medium.ttf");
}

:root {
  --gnb-height: 120px;
}

:root {
  --light-primary-12:#5D28F21F;
  --light-primary-font: #5D28F2;
  --light-primary-100: #5D28F2;
  --light-error-100: #F7254B;
  --light-shade-opacity-5: #2A32490D;
  --light-shade-000: #FAFBFC;
  --light-shade-100: #F4F5F8;
  --light-shade-200: #E0E2E8;
  --light-shade-300: #C8CCD7;
  --light-shade-400: #A9B0C1;
  --light-shade-600: #516182;
  --light-shade-700: #404E71;
  --light-shade-800: #313C57;
  --light-shade-900: #2A3249;
}